[submodule "datam8-model"]
	path = datam8-model
	url = https://github.com/oraylis/datam8-model
	branch = feature/v2
[submodule "datam8-generator"]
	path = datam8-generator
	url = https://github.com/oraylis/datam8-generator
	branch = feature/v2
