<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
      <section name="Dm8Main.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Dm8Main.Settings>
      <setting name="Theme" serializeAs="String">
        <value>Light</value>
      </setting>
    </Dm8Main.Settings>
  </userSettings>
  <appSettings>
    <add key="Version" value="1.1.4"/>
    <add key="GIT Support" value="False"/>
  </appSettings>

  
</configuration>
