{%- set data_type_object = model.data_types.get_data_type(column.type) %}
    {%- set data_type = data_type_object.parquetType.upper() %}
    {%- set precision_scale = "" %}
    {%- if data_type_object.hasPrecision %}
        {%- set precision_scale = "(%s" % column.precision %}
        {%- if data_type_object.hasScale %}
            {%- set precision_scale = precision_scale + ", %s" % column.scale %}
        {%- endif %}
        {%- set precision_scale = precision_scale + ")" %}
    {%- endif %}
    {%- set nullability = "" if column.nullable else " NOT NULL"%}
    {{column.name}} {{data_type}}{{precision_scale}}{{nullability}},