<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Companyname" value="ORAYLIS GmbH"/>
		<add key="Productname" value="ORAYLIS DataM8"/>
		<add key="Exename" value="Dm8Main.exe"/>
		<add key="Website" value="https://oraylis.de"/>
		<add key="Phone" value="https://oraylis.de"/>
		<add key="Version" value="1.1.0"/>
		<add key="GUID" value="3fd7771e-2ce6-4427-8ea1-03e00492857e"/>
		<add key="Icon" value="..\Dm8Main\Resources\DataM8-Icon_100px.ico"/>
	</appSettings>
</configuration>
