{%- set file_path = helper.build_path("databricks") %}
>>>>>>>>>> {{ file_path }}.yml | yaml
# This is a Databricks asset bundle definition for automation_smaple_solution.
# See https://docs.databricks.com/dev-tools/bundles/index.html for documentation.
bundle:
  name: automation_sample_solution

include:
  - jobs/*/*/*/*.yml

sync:
  include:
    - notebooks/**.py

variables:
  notebook_path:
    description: Location of the notebooks withint the bundle
    default: 'files/notebooks'

targets:
  # The 'dev' target, for development purposes. This target is the default.
  dev:
    # We use 'mode: development' to indicate this is a personal development copy:
    # - Deployed resources get prefixed with '[dev my_user_name]'
    # - Any job schedules and triggers are paused by default
    # - The 'development' mode is used for Delta Live Tables pipelines
    mode: development
    default: true
    workspace:
      host: https://adb-{{ SystemProperties().databricks_workspace_id["dev"] }}.azuredatabricks.net
      root_path: ~/.bundle/${bundle.name}/${bundle.target}

  ## Optionally, there could be a 'staging' target here.
  ## (See Databricks docs on CI/CD at https://docs.databricks.com/dev-tools/bundles/index.html.)
  #
  # staging:
  #   workspace:
  #     host: https://adb-{{ SystemProperties().databricks_workspace_id["staging"] }}.azuredatabricks.net

  # The 'prod' target, used for production deployment.
  prod:
    # We use 'mode: production' to indicate this is a production deployment.
    # Doing so enables strict verification of the settings below.
    mode: production
    workspace:
      host: https://adb-{{ SystemProperties().databricks_workspace_id["prod"] }}.azuredatabricks.net
      root_path: {{ SystemProperties().etl_folder }}/${bundle.name}
    run_as:
      service_principal_name: b07e929a-aef0-4252-980b-25ca605c8ec6
<<<<<<<<<< {{ file_path }}.yml | yaml
